
<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<hr>
<p>馬場博晃</p>
<ul>
  <li>
    ラーメン大好きー
  </li>
  <li>
    ハンドルほしい
  </li>
</ul>
<form>
<p>あなたの名前は？</p>
  <input type="text" name="name" size="10">
  
</form>